
        <div class="intro-pg">
          <div class="intro-text">
            <p><em>Find events.<br />
            ... Near you.<br />
            ... For today, or for tomorrow.</em></p>
          </div>

          <div class="explanation two columns search-icon">
            <%= image_tag("search.gif", :class => "float left") %>
            <p class="float left"><span>Search</span><br /> for Events</p>
          </div>

          <div class="explanation list-icon eleven columns">
            <img class="float left" src="http://png-3.findicons.com/files/icons/1579/devine/256/list.png" alt="">
            <p class="float left"><em>If you...</em><br />SEE A<br /><span>List</span></p>

            <div class="innerworkings columns">
              <img class="float left" src="https://cdn0.iconfinder.com/data/icons/miscellaneous-2/100/levitation-512.png" alt="">
              <p class="float left"><span>hover</span><br /> over Event for<br /> description</p>

              <h1 class="float left"> +</h1>

              <img src="http://perceptionmgmt.net/wp-content/uploads/2014/01/click-icon.png" alt="" class="float left">
              <p class="float left"><span>click</span><br />on Event<br /> to <strong>SAVE</strong></p>
            </div>
          </div>

          <div class="explanation map-icon eleven columns">
            <%= image_tag("map.png", :class => "float left") %>
            <p class="float left"><em>Or...</em><br />SEE A<br /><span>Map</span></p>

            <div class="innerworkings columns">
              <h2><em>+ Start planning your day</em></h2>
            </div>
          </div>
        <hr>

        </div>
