

<div id="user-event-details-div" display="none">
    <div class="user-el-title eight columns">
    </div>
    <div class="five columns right">
      <ul id="user-event-details-list" ></ul>
      <button id="user-event-details-close" style="display: none">Close</button>
      <button id="user-event-details-delete" style="display: none">Delete Event</button>
    </div>
    <div class="two columns right venue-info">
      <ul id="user-venue-list"></ul>
    </div>
</div>


<span id="event_id_hide" style="display:none"></span>
