
<span id="this_is_list"></span>
<span id="filter_string" style="display:none"><%=@filter_string%></span>

<%= render 'account' %>
<%= token_tag %>

<!-- %= @p % -->


<ul id="event-list"></ul>

<%= render "eventdetails" %>
