/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

.nav {
  text-align: center;
  font-family: Copperplate;
  font-size: 2em;
  background-color: lightgray;
}

.right {
  float: right;
}

.left {
  float: left;
}

.searches {
  margin: 30px;
  padding: 20px;
  font-size: 1em;
  line-height: 1em;
}

.when, .what, .where {
  float: left;
}

.date-from-label {
  position: relative;
  top: 175px;
  right: 95px;
}

.your-location-label {
  position: relative;
  top: 245px;
  right: 95px;
}

/*FOR SMALLER SCREENS/SIDEBARS*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .date-from-label { position: relative; top: 0px; right: 0px; }
  .your-location-label { position: relative; top: 0px; right: 0px; }
}

td {
  padding: 5px;
  color: grey;
}



em {
  color: lightblue;
}

