/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require base
 *= require layout
 *= require skeleton
 *= require jquery-ui-1.10.4.custom
 *= require_tree .
 *= require_self
 */

body {
  height: 100%;
}

eventlist {
  height: 100%;
}

.nav {
  text-align: right;
  font-family: Copperplate;
  font-size: 2em;
  padding-top: 22px;
  padding-right: 30px;
  background-color: black;
  color: white;
  height: 52px;
  margin: 0 50 0 50;
  margin-bottom: 0px;
  a {
    color: white;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.searches {
  margin: 30px;
  padding: 20px;
  font-size: 1.5em;
  line-height: 1em;
}

.when, .what, .where {
  float: left;
}

td {
  padding: 5px;
  color: grey;
}

em {
  color: grey;
}

.results-map {
  width: 100%;
  border: 2px dashed black;
}

.tab {
  background-color: black;
  width: 25px;
  height: 100px;
  position: relative;
  top: 180px;
  left: 300px;
  z-index: 9999;
  font-family: Copperplate;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  font-size: 1.0em;
  line-height: 1em;
  padding-left: 10px;
  padding-top: 15px;

}

.search-bar, search-form{
  position: fixed;
  margin: -30px;
  margin-left: -2px;
  width: 300px;
  border: 1px dotted black;
  z-index: 9998;
  background-color: white;
  opacity: .95;
  height: 120%;
  -moz-box-shadow: 0px 10px 10px #000;
    -webkit-box-shadow: 0px 10px 10px #000;

  .search-form {
    margin-top: -100px;
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;

  }

  .header {
    zoom: 0.7;
  }
  .searches {
    display: block;
    margin-left: -100px;
    margin: 0px;
    padding: 20px;
    font-size: 1.5em;
    line-height: 1em;
  }
  .when, .what, .where {
    float: none;
  }
}

.help {
  background-color: yellow;
  color: white;
  font-size: 1em;
  position: fixed;
  left: 50px;
  top: 75px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  opacity: .5;
  display: none;

}

.saveEvent {
  margin: 0px;
  float: right;
}

.descrip {
  background-color: lightblue;
  height: 150px;
}

.event-descrip {
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .eventInfo {
    background-color: white;
    padding: 15px;
    border-top: 3px solid black;
    border-radius: 45px;
    border-bottom: 1px dotted black;
    position: fixed;
    height: 50%;
    overflow-x: scroll;
    bottom: 50px;
    right: -20px;
    border-radius: 5px;
    opacity: .9;
  -moz-box-shadow: 0px 10px 10px #000;
    -webkit-box-shadow: 0px 10px 10px #000;

}
  .header {
    zoom: 1;
  }
}
.venue-info {
  border-left: 1px solid black;
  padding: 10px;
}

.float {
  height: 75px;
  margin: 0px 10px 10px 10px;
  font-variant: small-caps;
  span {
    font-size: 2em;
  }
}

.intro-pg {
  margin: 10px;
  font-size: 1.0em;
}

.intro-text {
  margin: 20px;
  font-size: 1.5em;
  line-height: 1em;
  font-family: copperplate;
}

.explanation {
  background-color: #FFFFEC;
  border: 1px black dotted;
  border-radius: 30px;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
  .innerworkings {
    background-color: white;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    padding: 15px;
    margin: -15px;
  }

.search-icon {
  padding: 25px;
  border-radius: 100px 5px 5px 100px;
}

.list-icon {
  border-radius: 30px 5px 30px;
}

.map-icon {
  border-radius: 5px 30px 5px;
  .innerworkings {
    border-bottom: 1px dotted black;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .innerworkings { border-top: 1px dashed black; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {}

.bottom {
  background-color: black
}

.fixed {
  position: fixed;
  top: 0px;
  float: right;
}

.search-button {
  background-color: black;
}

.sortable-categories {
  margin-right: 140px;

  .column {
    width: 170px;
    float: left;
    padding-bottom: 100px;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
    background-color: grey;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
    background-color: lightgrey;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
}

.saved-events-tab {
  .ui-tabs-anchor {
    background-color: white;
  }
}

.explanation {
}

.logo {
  position: relative;
  display: none;
  top: -100px;
  height: 0px;
}

.search_submit {
  position: relative;
  top: 45px;
  left: 300px;
  height: 50px;
  width: 100px;

}

#signup-link, #login-link, #logout-link {
  text-decoration: none;
}

.gm-style-iw{
  overflow: scroll;
  width: 170px;
  height: 200px;
}

.eventInfo {
  visibility: hidden;
}


 #pretty_result_string{
 font-family: Copperplate;


}

